$bgColorItem: #b19e85;
$textColor: black;


body{
}
input{
  background-color: $bgColorItem;
  padding: 8px 12px;
  border-radius: 5px;
  color: $textColor;
  -webkit-box-shadow: 2px 3px 5px 1px #000000;
  box-shadow: 2px 3px 5px 1px #000000;

  &::placeholder{
    color: $textColor;
  }
}
button{
  background-color:  $bgColorItem;
  color: $textColor;
  border-radius: 5px;
  border: none;
  padding: 12px 12px;
  margin: 10px;
  -webkit-box-shadow: 2px 3px 5px 1px #000000;
  box-shadow: 2px 3px 5px 1px #000000;


  &:hover{
    cursor: pointer;
  }
}
.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper{
  color:red;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}
.visible{
  visibility: visible;
}
.hidden{
  visibility: hidden;
}
.currentOrderWrapper{
  -webkit-box-shadow: 5px 11px 20px 4px #000000;
  box-shadow: 5px 11px 20px 4px #000000;

  h1,h2{
    text-align: center;
  }
  width: 300px;
  border: 2px solid #fff;
  min-height: 200px;
  background-color: $bgColorItem;
  position: fixed;
  color: $textColor;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px;
  z-index: 9999;
  top: 15px;
  right: 15px;
  .currentOrder{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 250px;
    span{
      min-width: 85px;
    }
    .name{
      min-width: 150px;
    }
    .countPos{
      min-width: 30px;
    }
  }
}
.addOrderForm{
  input{
    font-size: 1.2rem;

  }
  width: 100%;
  position: sticky;
  z-index: 999;
  padding: 20px;
  top: 0;
  background-color:  white;

}
.itemList{
  position: relative;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px 15px;
  background-color:   $bgColorItem;
  color: $textColor;
  font-size: 1.4rem;
  font-style: italic;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  gap: 20px;
  -webkit-box-shadow: 2px 3px 5px 1px #000000;
  box-shadow: 2px 3px 5px 1px #000000;
  transition: all 1.7s linear;
  .item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      min-width: 250px;
    }
    }


.itemPrice{
  color: $textColor;
  position: absolute;
  top: 0;
  right: -150px;
  font-weight: bold;
  text-decoration: underline;
}
}
footer{
  padding: 160px;
}
.extra{
  color: $textColor;
  font-weight: bold;
  font-size: 1.8rem;
}
@keyframes showUp {
  0%{
    opacity: 0;
    transform: translate(25px, 30px);
  }
  100%{
  opacity:1;
    transform: translateY(0);

  }
}
.show{
  animation-name: showUp;
  animation-duration: 1s;
}
.hide{

  display: none !important;
}
.item:empty{
  display: none;
}
.statistic {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: 9999;
  background-color: rgba(#030303,0.3);

 &__content{
   width: 80vw;
   margin: 100px auto;
   background-color: #ffffff;
   height: 80vh;
   position: relative;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   h3{
     color: black;
   }
   svg{
     position: absolute;
     right: 5px;
     top: 5px;
     &:hover{
       cursor: pointer;
     }
   }
   .info2{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 70%;
   }
   .info{
     color: black;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
    &_other{
      color:black;
      font-size: 2rem;
      display: inline;
    }
     &_item{
       width: 50%;
       text-align: center;
     }
   }
 }
}
